body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin: 0;
  text-align: center;
  background-color: #f4f2f2;
}

header {
  margin: 0;
  padding: 1rem;
  background: linear-gradient(to right, #283c86, #45a247);
  font-weight: 700;
  color: #fff;
}

.user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.search-input {
  width: 100%;
  padding: .7rem;
  outline: none;
}
